body {
    margin: 0;
    background: url('./img/IMG_1224.JPG');
    background-size: cover;
}
.page1 {
    background: #bba5d3;
    font-size: 15px;
    border-radius: 5px;
    color: #202020;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 418px;
    padding: 10px;
    box-shadow: 0 0 10px rgb(190,190,190);
    margin-top: 30px;
}
.page2 {
    background: #6ea0dd;
    font-size: 15px;
    border-radius: 5px;
    color: #202020;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgb(190,190,190);
}
.page3 {
    background: #9fdeb1;
    font-size: 15px;
    border-radius: 5px;
    color: #202020;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgb(190,190,190);
}
.page4 {
    background: #fee4a9;
    font-size: 15px;
    border-radius: 5px;
    color: #202020;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgb(190,190,190);
}
.page5 {
    background: #ffad96;
    font-size: 15px;
    border-radius: 5px;
    color: #202020;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgb(190,190,190);
}
.page6 {
    background: #f26d6e;
    font-size: 15px;
    border-radius: 5px;
    color: #202020;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 10px;
    line-height: 45px;
    padding: 10px;
    box-shadow: 0 0 10px rgb(190,190,190);
}
header {
    display: flex;
    background: #f9b98e;
    padding: 4px;
    height: 40px;
}
.title {
    font-size: 36px;
    color: white;
    margin-left: 8px;
}
.word {
    font-size: 23px;
    color: #f9b98e;
    background: white;
    margin-left: 28px;
    line-height: 45px;
    flex: 1;
    padding-left: 15px;
}
.profile-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
    margin-top: 20px;  
    background: #f6eee0;
    width: 600px;
    text-align: center;

    box-shadow: 0 0 50px rgba(125,116,98,0.2);
}
.profile {
    width: 152px;
    height: 200px;
    margin-top: -40px;
}
.text {
    margin-top: 10px;
    color: #DEB887;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.box:hover .text {
    color: #F5F5DC;
}
.topic {
    padding: 14px;
}
.infoTable {
    margin-top: -5px; 
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;

    width: 89%;
    text-align: left;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;

    border-radius: 20px;

    background: whitesmoke;
    box-shadow: 0 0 1px #D2B48C;
    color: #3f3e37;
}
.box:hover .infoTable {
    box-shadow: 0 0 4px #87CEFA;
    color: #000000;
}
.box:hover {
    transition: all 0.3s ease-out;
    box-shadow: 4px 4px 30px rgba(225,173,150,0.7);
    background: radial-gradient(circle, rgba(187,165,211,0.9502196193265007) 0%, rgba(254,228,169,0.9560761346998536) 100%);
}
a {
    text-decoration: none;
}